<form autocomplete="off" class="augCard {{#if system.isGLICHED}}GLICHED{{/if}}">
    <div class="header">
        <h1><input type="text" name="name" value="{{item.name}}"/></h1>
        <input name="system.isGLICHED" type="checkbox" id="{{item._id}}_G" {{#if system.isGLICHED }}checked{{/if}}/>
        <label class="item-glitch" for="{{item._id}}_G">{{localize 'RUNNER.GLICHED'}}</label>
    </div>
    <div class="desc">
        {{editor system.desc target="system.desc" button=true owner=owner editable=editable}}
    </div>
</form>