<div 
    data-item-id="{{_id}}"
    class="aug {{#if system.isGLICHED}}GLICHED{{/if}}"
>
    <div>
        <button class="item-isOpen {{#if system.isOpen}}yes{{/if}}">
            <i class="fa-regular fa-square-caret-right"></i>
        </button>
        <input class="item-name" type="text" value="{{name}}">
        <button class="item-active">
            {{#if system.isActive}}
            <i class="fa-solid fa-toggle-on" style="color: rgb(var(--yellow));"></i>
            {{else}}
            <i class="fa-solid fa-toggle-off"></i>
            {{/if}}
        </button>   
        <button class="item-glitch" style="color: rgb(var(--blue));">
            <i class="fa-etch fa-solid fa-bug"></i>
        </button>
        <button class="item-delete">
            <i class="fa-regular fa-circle-xmark"></i>
        </button>
    </div>
{{#if system.isOpen}}
    <div class="desc">
        <button class="item-edit">{{localize 'EDIT'}}</button>
        {{{system.desc}}}
    </div>
{{/if}}
</div>