<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<form class="runnerCard {{#if system.isDarkMode}}black{{/if}}" autocomplete="off" style="display: {{system.view}};">
  <header>
    <section class="persona {{#if system.angle.hunted}}hunted{{/if}}">
      <div class="angle {{#if system.angle.isOpen}}expan{{/if}}">
        <input class="value" name="system.angle.for" type="text" placeholder="Why you runnig for?" value="{{system.angle.for}}"/>
        {{editor system.angle.DETAILS target="system.angle.DETAILS" button=true owner=owner editable=editable}}
        <div class="bar">
          <div class="DEBT" style="--progress: {{system.angle.DEBT.value}};">{{localize 'RUNNER.DEBT'}}</div>
          <div class="angelRoll throw"> {{localize 'ROLL.AngelRoll'}} </div>
          <label class="hunt" for="{{actor._id}}_hunted" data-tip="{{localize 'TYPES.Actor.hunter'}}">
            <input id="{{actor._id}}_hunted" name="system.angle.hunted" type="checkbox" {{#if system.angle.hunted}}checked{{/if}}/>
            <i class="fa-solid fa-crosshairs-simple"></i>
          </label>
          <div class="CRED" style="--progress: {{system.angle.CRED.value}};">{{localize 'RUNNER.CRED'}}</div>
        </div>
        <div class="headerButton">
          <input id="{{actor._id}}_angleOpen" class="value" name="system.angle.isOpen" type="checkbox" {{#if system.angle.isOpen}}checked{{/if}}/>
          <label class="angleOpen" for="{{actor._id}}_angleOpen">{{#if system.angle.isOpen}}{{localize 'COLLAPSE'}}{{else}}{{localize 'EXPAND'}}{{/if}}</label>
          <input id="{{actor._id}}_toggleDarkMode" type="checkbox" name="system.isDarkMode" {{#if system.isDarkMode}}checked{{/if}}>
          <label for="{{actor._id}}_toggleDarkMode">
            {{#if system.isDarkMode}}
            <i class="fa-solid fa-moon"></i>
            {{else}}
            <i class="fa-solid fa-sun"></i>
            {{/if}}
          </label>
        </div>
      </div>
      <img src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
      <h1><input name="name" type="text" placeholder="Name" value="{{actor.name}}"/></h1>
    </section>
    <section class="roll">
      <div>
        <div class="efect">
          <span class="label">{{localize 'ROLL.Effect'}}</span>
          {{{loopTrack 1 4 system.roll.efect "system.roll.efect" }}}
        </div>
        <div class="threat">
          <span class="label">{{localize 'ROLL.Threat'}}</span>
          {{{loopTrack 1 4 system.roll.threat "system.roll.threat" }}}
        </div>
      </div>
      <div class="addDice">
        {{{loopTrack -4 4 system.roll.addDice "system.roll.addDice" }}}
        <div class="glichedDice">
          <input name="system.roll.isGlichDice" type="checkbox" id="{{actor._id}}_glichDice" {{#if system.roll.isGlichDice}}checked{{/if}} />
          <label for="{{actor._id}}_glichDice" data-tip="{{localize 'TOOLTIP.glich_dice'}}">
            <i class="fa-etch fa-solid fa-bug"></i>
          </label>
        </div>
      </div>
      <div class="buttons">
        <button id="{{actor._id}}_resistRoll" class="resistRoll throw">{{localize 'ROLL.ResistRoll'}}</button>
        <button id="{{actor._id}}_actionRoll" class="actionRoll throw">{{localize 'ROLL.ActionRoll'}}</button>
        <button id="{{actor._id}}_breathRoll" class="breathRoll throw">{{localize 'ROLL.BreathRoll'}}</button>
      </div>
    </div>
  </header>
  <section class="stress">  
    <span class="label">{{localize 'RUNNER.STRESS'}}</span>
    <input name="stress" type="checkbox" id="{{actor._id}}_stres-1" {{#if (isBigger system.stress.value 1) }}checked{{/if}}/><label for="{{actor._id}}_stres-1"></label>
    <input name="stress" type="checkbox" id="{{actor._id}}_stres-2" {{#if (isBigger system.stress.value 2) }}checked{{/if}}/><label for="{{actor._id}}_stres-2"></label>
    <input name="stress" type="checkbox" id="{{actor._id}}_stres-3" {{#if (isBigger system.stress.value 3) }}checked{{/if}}/><label for="{{actor._id}}_stres-3"></label>
    <input name="stress" type="checkbox" id="{{actor._id}}_stres-4" {{#if (isBigger system.stress.value 4) }}checked{{/if}}/><label for="{{actor._id}}_stres-4"></label>
    <input name="stress" type="checkbox" id="{{actor._id}}_stres-5" {{#if (isBigger system.stress.value 5) }}checked{{/if}}/><label for="{{actor._id}}_stres-5"></label>
    <input name="stress" type="checkbox" id="{{actor._id}}_stres-6" {{#if (isBigger system.stress.value 6) }}checked{{/if}}/><label for="{{actor._id}}_stres-6"></label>
    <input name="stress" type="checkbox" id="{{actor._id}}_stres-7" {{#if (isBigger system.stress.value 7) }}checked{{/if}}/><label for="{{actor._id}}_stres-7"></label>
    <p class="{{#if system.stress.isLOAD}}active{{/if}}">{{localize 'RUNNER.OVERLOAD.name'}}</p>
  </section>
  <section class="approach">
    <div class="label">{{localize 'Approach.name'}}</div>
    <div class="{{#if system.approach.AGGRESSIVE.GLICHED}}GLICHED{{/if}} {{#if (isEqual system.roll.approach "AGGRESSIVE")}}select{{/if}}" data-value="{{system.approach.AGGRESSIVE.dice}}">
      <h3 data-app="AGGRESSIVE" data-text="{{localize 'Approach.AGGRESSIVE.flaw'}}">{{localize 'Approach.AGGRESSIVE.name'}}</h3>
      <div class="texts">
        <p>{{localize 'Approach.AGGRESSIVE.desc'}}</p>
        <p class="flaw">{{localize 'Approach.AGGRESSIVE.flaw'}}</p>
      </div>
      <div class="dots" data-skill="approach.AGGRESSIVE">
        {{{drawDice system.approach.AGGRESSIVE.dice}}}
      </div>
    </div>
    <div class="{{#if system.approach.SMART.GLICHED}}GLICHED{{/if}} {{#if (isEqual system.roll.approach "SMART")}}select{{/if}}" data-value="{{system.approach.SMART.dice}}">
      <h3 data-app="SMART" data-text="{{localize 'Approach.SMART.flaw'}}">{{localize 'Approach.SMART.name'}}</h3>
      <div class="texts">
        <p>{{localize 'Approach.SMART.desc'}}</p>
        <p class="flaw">{{localize 'Approach.SMART.flaw'}}</p>
      </div>
      <div class="dots" data-skill="approach.SMART">
        {{{drawDice system.approach.SMART.dice}}}
      </div>
    </div>
    <div class="{{#if system.approach.EMPATHIC.GLICHED}}GLICHED{{/if}} {{#if (isEqual system.roll.approach "EMPATHIC")}}select{{/if}}" data-value="{{system.approach.EMPATHIC.dice}}">
      <h3 data-app="EMPATHIC" data-text="{{localize 'Approach.EMPATHIC.flaw'}}">{{localize 'Approach.EMPATHIC.name'}}</h3>
      <div class="texts">
        <p>{{localize 'Approach.EMPATHIC.desc'}}</p>
        <p class="flaw">{{localize 'Approach.EMPATHIC.flaw'}}</p>
      </div>
      <div class="dots" data-skill="approach.EMPATHIC">
        {{{drawDice system.approach.EMPATHIC.dice}}}
      </div>
    </div>
    <div class="{{#if system.approach.STEALTHY.GLICHED}}GLICHED{{/if}} {{#if (isEqual system.roll.approach "STEALTHY")}}select{{/if}}" data-value="{{system.approach.STEALTHY.dice}}">
      <h3 data-app="STEALTHY" data-text="{{localize 'Approach.STEALTHY.flaw'}}">{{localize 'Approach.STEALTHY.name'}}</h3>
      <div class="texts">
        <p>{{localize 'Approach.STEALTHY.desc'}}</p>
        <p class="flaw">{{localize 'Approach.STEALTHY.flaw'}}</p>
      </div>
      <div class="dots" data-skill="approach.STEALTHY">
        {{{drawDice system.approach.STEALTHY.dice}}}
      </div>
    </div>
  </section>
  <section class="skills">
    <div class="label">{{localize 'Skill.name'}}</div>
    <table>
      <tr class="{{#if (isEqual system.roll.skill "ANALYZE")}}select{{/if}}">
        <td><h3 data-skill="ANALYZE">{{localize 'Skill.ANALYZE.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.ANALYZE">
          {{{drawDice system.skills.ANALYZE.dice}}}
        </div></td>
        <td><p>
          <span data-exp="ANALYZE.PEOPLE" class="{{#if system.skills.ANALYZE.EXPERTISES.PEOPLE}}active{{/if}}">{{localize 'Skill.ANALYZE.PEOPLE'}}</span>,
          <span data-exp="ANALYZE.SITUATION" class="{{#if system.skills.ANALYZE.EXPERTISES.SITUATION}}active{{/if}}">{{localize 'Skill.ANALYZE.SITUATION'}}</span>,
          <span data-exp="ANALYZE.INFORMATION" class="{{#if system.skills.ANALYZE.EXPERTISES.INFORMATION}}active{{/if}}">{{localize 'Skill.ANALYZE.INFORMATION'}}</span>
        </p></td>
      </tr>
      <tr class="{{#if (isEqual system.roll.skill "ATHLETICS")}}select{{/if}}">
        <td><h3 data-skill="ATHLETICS">{{localize 'Skill.ATHLETICS.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.ATHLETICS">
          {{{drawDice system.skills.ATHLETICS.dice}}}
        </div></td>
        <td><p>
          <span data-exp="ATHLETICS.SPRINT" class="{{#if system.skills.ATHLETICS.EXPERTISES.SPRINT}}active{{/if}}">{{localize 'Skill.ATHLETICS.SPRINT'}}</span>,
          <span data-exp="ATHLETICS.PARKOUR" class="{{#if system.skills.ATHLETICS.EXPERTISES.PARKOUR}}active{{/if}}">{{localize 'Skill.ATHLETICS.PARKOUR'}}</span>,
          <span data-exp="ATHLETICS.SWIM" class="{{#if system.skills.ATHLETICS.EXPERTISES.SWIM}}active{{/if}}">{{localize 'Skill.ATHLETICS.SWIM'}}</span>,
          <span data-exp="ATHLETICS.CLIMB" class="{{#if system.skills.ATHLETICS.EXPERTISES.CLIMB}}active{{/if}}">{{localize 'Skill.ATHLETICS.CLIMB'}}</span>
        </p></td>
      </tr>
      <tr class="{{#if (isEqual system.roll.skill "CLOSE")}}select{{/if}}">
        <td><h3 data-skill="CLOSE">{{localize 'Skill.CLOSE.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.CLOSE">
          {{{drawDice system.skills.CLOSE.dice}}}
        </div></td>
        <td><p>
          <span data-exp="CLOSE.BRAWLING" class="{{#if system.skills.CLOSE.EXPERTISES.BRAWLING}}active{{/if}}">{{localize 'Skill.CLOSE.BRAWLING'}}</span>,
          <span data-exp="CLOSE.KNIFE" class="{{#if system.skills.CLOSE.EXPERTISES.KNIFE}}active{{/if}}">{{localize 'Skill.CLOSE.KNIFE'}}</span>,
          <span data-exp="CLOSE.SWORD" class="{{#if system.skills.CLOSE.EXPERTISES.SWORD}}active{{/if}}">{{localize 'Skill.CLOSE.SWORD'}}</span>,
          <span data-exp="CLOSE.BAT" class="{{#if system.skills.CLOSE.EXPERTISES.BAT}}active{{/if}}">{{localize 'Skill.CLOSE.BAT'}}</span>,
          <span data-exp="CLOSE.WIRE" class="{{#if system.skills.CLOSE.EXPERTISES.WIRE}}active{{/if}}">{{localize 'Skill.CLOSE.WIRE'}}</span>
        </p></td>
      </tr>
      <tr class="{{#if (isEqual system.roll.skill "CODING")}}select{{/if}}">
        <td><h3 data-skill="CODING">{{localize 'Skill.CODING.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.CODING">
          {{{drawDice system.skills.CODING.dice}}}
        </div></td>
        <td><p>
          <span data-exp="CODING.HACK" class="{{#if system.skills.CODING.EXPERTISES.HACK}}active{{/if}}">{{localize 'Skill.CODING.HACK'}}</span>,
          <span data-exp="CODING.COMPILE" class="{{#if system.skills.CODING.EXPERTISES.COMPILE}}active{{/if}}">{{localize 'Skill.CODING.COMPILE'}}</span>,
          <span data-exp="CODING.MINE" class="{{#if system.skills.CODING.EXPERTISES.MINE}}active{{/if}}">{{localize 'Skill.CODING.MINE'}}</span>,
          <span data-exp="CODING.SCRAMBLE" class="{{#if system.skills.CODING.EXPERTISES.SCRAMBLE}}active{{/if}}">{{localize 'Skill.CODING.SCRAMBLE'}}</span>
        </p></td>
      </tr>
      <tr class="{{#if (isEqual system.roll.skill "INFLUENCE")}}select{{/if}}">
        <td><h3 data-skill="INFLUENCE">{{localize 'Skill.INFLUENCE.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.INFLUENCE">
          {{{drawDice system.skills.INFLUENCE.dice}}}
        </div></td>
        <td><p>
          <span data-exp="INFLUENCE.PERFORM" class="{{#if system.skills.INFLUENCE.EXPERTISES.PERFORM}}active{{/if}}">{{localize 'Skill.INFLUENCE.PERFORM'}}</span>,
          <span data-exp="INFLUENCE.NEGOTIATE" class="{{#if system.skills.INFLUENCE.EXPERTISES.NEGOTIATE}}active{{/if}}">{{localize 'Skill.INFLUENCE.NEGOTIATE'}}</span>,
          <span data-exp="INFLUENCE.INTIMIDATE" class="{{#if system.skills.INFLUENCE.EXPERTISES.INTIMIDATE}}active{{/if}}">{{localize 'Skill.INFLUENCE.INTIMIDATE'}}</span>
        </p></td>
      </tr>
      <tr  class="{{#if (isEqual system.roll.skill "PILOTING")}}select{{/if}}">
        <td><h3 data-skill="PILOTING">{{localize 'Skill.PILOTING.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.PILOTING">
          {{{drawDice system.skills.PILOTING.dice}}}
        </div></td>
        <td><p>
          <span data-exp="PILOTING.CARS" class="{{#if system.skills.PILOTING.EXPERTISES.CARS}}active{{/if}}">{{localize 'Skill.PILOTING.CARS'}}</span>,
          <span data-exp="PILOTING.BIKES" class="{{#if system.skills.PILOTING.EXPERTISES.BIKES}}active{{/if}}">{{localize 'Skill.PILOTING.BIKES'}}</span>,
          <span data-exp="PILOTING.CHOPPERS" class="{{#if system.skills.PILOTING.EXPERTISES.CHOPPERS}}active{{/if}}">{{localize 'Skill.PILOTING.CHOPPERS'}}</span>,
          <span data-exp="PILOTING.DRONES" class="{{#if system.skills.PILOTING.EXPERTISES.DRONES}}active{{/if}}">{{localize 'Skill.PILOTING.DRONES'}}</span>
        </p></td>
      </tr>
      <tr class="{{#if (isEqual system.roll.skill "RANGED")}}select{{/if}}">
        <td><h3 data-skill="RANGED">{{localize 'Skill.RANGED.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.RANGED">
          {{{drawDice system.skills.RANGED.dice}}}
        </div></td>
        <td><p>
          <span data-exp="RANGED.PISTOL" class="{{#if system.skills.RANGED.EXPERTISES.PISTOL}}active{{/if}}">{{localize 'Skill.RANGED.PISTOL'}}</span>,
          <span data-exp="RANGED.RIFLE" class="{{#if system.skills.RANGED.EXPERTISES.RIFLE}}active{{/if}}">{{localize 'Skill.RANGED.RIFLE'}}</span>,
          <span data-exp="RANGED.SMG" class="{{#if system.skills.RANGED.EXPERTISES.SMG}}active{{/if}}">{{localize 'Skill.RANGED.SMG'}}</span>,
          <span data-exp="RANGED.THROWING" class="{{#if system.skills.RANGED.EXPERTISES.THROWING}}active{{/if}}">{{localize 'Skill.RANGED.THROWING'}}</span>
        </p></td>
      </tr>
      <tr class="{{#if (isEqual system.roll.skill "RIGGING")}}select{{/if}}">
        <td><h3 data-skill="RIGGING">{{localize 'Skill.RIGGING.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.RIGGING">
          {{{drawDice system.skills.RIGGING.dice}}}
        </div></td>
        <td><p>
          <span data-exp="RIGGING.ELETRONICS" class="{{#if system.skills.RIGGING.EXPERTISES.ELETRONICS}}active{{/if}}">{{localize 'Skill.RIGGING.ELETRONICS'}}</span>,
          <span data-exp="RIGGING.ROBOTICS" class="{{#if system.skills.RIGGING.EXPERTISES.ROBOTICS}}active{{/if}}">{{localize 'Skill.RIGGING.ROBOTICS'}}</span>,
          <span data-exp="RIGGING.HEAVY" class="{{#if system.skills.RIGGING.EXPERTISES.HEAVY}}active{{/if}}">{{localize 'Skill.RIGGING.HEAVY'}}</span>
        </p></td>
      </tr>
      <tr class="{{#if (isEqual system.roll.skill "SCIENCES")}}select{{/if}}">
        <td><h3 data-skill="SCIENCES">{{localize 'Skill.SCIENCES.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.SCIENCES">
          {{{drawDice system.skills.SCIENCES.dice}}}
        </div></td>
        <td><p>
          <span data-exp="SCIENCES.BIOTECH" class="{{#if system.skills.SCIENCES.EXPERTISES.BIOTECH}}active{{/if}}">{{localize 'Skill.SCIENCES.BIOTECH'}}</span>,
          <span data-exp="SCIENCES.PHYSICS" class="{{#if system.skills.SCIENCES.EXPERTISES.PHYSICS}}active{{/if}}">{{localize 'Skill.SCIENCES.PHYSICS'}}</span>,
          <span data-exp="SCIENCES.CHEMISTRY" class="{{#if system.skills.SCIENCES.EXPERTISES.CHEMISTRY}}active{{/if}}">{{localize 'Skill.SCIENCES.CHEMISTRY'}}</span>
        </p></td>
      </tr>
      <tr class="{{#if (isEqual system.roll.skill "STREETWISE")}}select{{/if}}">
        <td><h3 data-skill="STREETWISE">{{localize 'Skill.STREETWISE.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.STREETWISE">
          {{{drawDice system.skills.STREETWISE.dice}}}
        </div></td>
        <td><p>
          <span data-exp="STREETWISE.POLITICS" class="{{#if system.skills.STREETWISE.EXPERTISES.POLITICS}}active{{/if}}">{{localize 'Skill.STREETWISE.POLITICS'}}</span>,
          <span data-exp="STREETWISE.MARKET" class="{{#if system.skills.STREETWISE.EXPERTISES.MARKET}}active{{/if}}">{{localize 'Skill.STREETWISE.MARKET'}}</span>,
          <span data-exp="STREETWISE.NAVIGATION" class="{{#if system.skills.STREETWISE.EXPERTISES.NAVIGATION}}active{{/if}}">{{localize 'Skill.STREETWISE.NAVIGATION'}}</span>
        </p></td>
      </tr>
      {{#if system.wierd}}
      <tr class="{{#if (isEqual system.roll.skill "ATTUNE")}}select{{/if}}">
        <td><h3 data-skill="ATTUNE">{{localize 'Skill.ATTUNE.name'}}</h3></td>
        <td><div class="dots" data-skill="skills.ATTUNE">
          {{{drawDice system.skills.ATTUNE.dice}}}
        </div></td>
        <td><p>
          <span data-exp="ATTUNE.SPIRITS" class="{{#if system.skills.ATTUNE.EXPERTISES.SPIRITS}}active{{/if}}">{{localize 'Skill.ATTUNE.SPIRITS'}}</span>,
          <span data-exp="ATTUNE.ARTIFACTS" class="{{#if system.skills.ATTUNE.EXPERTISES.ARTIFACTS}}active{{/if}}">{{localize 'Skill.ATTUNE.ARTIFACTS'}}</span>,
          <span data-exp="ATTUNE.PLACES" class="{{#if system.skills.ATTUNE.EXPERTISES.PLACES}}active{{/if}}">{{localize 'Skill.ATTUNE.PLACES'}}</span>
        </p></td>
      </tr>
      {{/if}}
    </table>
  </section>
  <section class="augmentations">
    <h3>{{localize 'RUNNER.AUG'}} <button class="item-add">+</button></h3>
    {{#each augs as |aug id|}}
        {{> "systems/CBRPNK/templates/sheets/parts/augmentation.hbs" aug}}
    {{/each}}
  </section>
  <section class="gear">
    <h3>
      {{localize 'GEAR.name'}}: {{system.GEAR.LOAD.value}} /
      {{#if (isEqual system.GEAR.LOAD.selected "light")}}
        {{system.GEAR.LOAD.light.value}}
      {{/if}}
      {{#if (isEqual system.GEAR.LOAD.selected "medium")}}
        {{system.GEAR.LOAD.medium.value}}
      {{/if}}
      {{#if (isEqual system.GEAR.LOAD.selected "heavy")}}
        {{system.GEAR.LOAD.heavy.value}}
      {{/if}}
    </h3>
    <div>
      <button class="load">
      {{#if (isEqual system.GEAR.LOAD.selected "light")}}
        {{localize 'LOAD.LIGHT'}}
      {{/if}}
      {{#if (isEqual system.GEAR.LOAD.selected "medium")}}
        {{localize 'LOAD.MEDIUM'}}
      {{/if}}
      {{#if (isEqual system.GEAR.LOAD.selected "heavy")}}
        {{localize 'LOAD.HEAVY'}}
      {{/if}}
    </button>
    </div>
    <div>
        <input id="{{actor._id}}_eq1" type="checkbox" name="eq1" {{#if system.GEAR.Equpment.eq1.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq1" data-id="eq1">
          <div><div class="box"></div></div>
          {{localize 'GEAR.BLADE'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq2" type="checkbox" name="eq2" {{#if system.GEAR.Equpment.eq2.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq2" data-id="eq2">
          <div><div class="box"></div></div>
            {{localize 'GEAR.SIDEARM'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq3" type="checkbox" name="eq3" {{#if system.GEAR.Equpment.eq3.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq3" data-id="eq3">
          <div><div class="box"></div></div>
            {{localize 'GEAR.SUBMACHINE'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq4" type="checkbox" name="eq4" {{#if system.GEAR.Equpment.eq4.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq4" data-id="eq4">
          <div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
          {{localize 'GEAR.LARGEHEAVY'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq5" type="checkbox" name="eq5" {{#if system.GEAR.Equpment.eq5.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq5" data-id="eq5">
          <div><div class="box"></div></div>
          {{localize 'GEAR.TRACKING'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq6" type="checkbox" name="eq6" {{#if system.GEAR.Equpment.eq6.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq6" data-id="eq6">
          <div><div class="box"></div></div>
          {{localize 'GEAR.CYBERDECK'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq7" type="checkbox" name="eq7" {{#if system.GEAR.Equpment.eq7.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq7" data-id="eq7">
          <div><div class="box"></div></div>
          {{localize 'GEAR.SDRONE.name'}}
        </label>
        <p>{{localize 'GEAR.SDRONE.desc'}}</p>
    </div>
    <div>
        <input id="{{actor._id}}_eq8" type="checkbox" name="eq8" {{#if system.GEAR.Equpment.eq8.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq8" data-id="eq8">
          <div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
          {{localize 'GEAR.MDRONE.name'}}
        </label>
        <p>{{localize 'GEAR.MDRONE.desc'}}</p>
    </div>
    <div>
        <input id="{{actor._id}}_eq9" type="checkbox" name="eq9" {{#if system.GEAR.Equpment.eq9.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq9" data-id="eq9">
          <div><div class="box"></div></div>
          {{localize 'GEAR.BATTERY'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq10" type="checkbox" name="eq10" {{#if system.GEAR.Equpment.eq10.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq10" data-id="eq10">
          <div><div class="box"></div></div>
          {{localize 'GEAR.MEDKIT'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq11" type="checkbox" name="eq11" {{#if system.GEAR.Equpment.eq11.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq11" data-id="eq11">
          <div><div class="box"></div></div>
          {{localize 'GEAR.DISGUISE'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq12" type="checkbox" name="eq12" {{#if system.GEAR.Equpment.eq12.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq12" data-id="eq12">
          <div><div class="box"></div></div>
          {{localize 'GEAR.ARMOR'}}
        </label>
        <div>
            <input id="{{actor._id}}_eq12a" type="checkbox" name="eq12a" {{#if system.GEAR.Equpment.eq12a.isUse}}checked{{/if}}/>
            <label for="{{actor._id}}_eq12a" data-id="eq12a">
              <div>
                <div class="box"></div>
                <div class="box"></div>
              </div>
            {{localize 'GEAR.AHEAVY'}}
            </label>
        </div>
    </div>
    <div>
        <input id="{{actor._id}}_eq13" type="checkbox" name="eq13" {{#if system.GEAR.Equpment.eq13.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq13" data-id="eq13">
          <div><div class="box"></div></div>
          {{localize 'GEAR.INFILTRATION'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq14" type="checkbox" name="eq14" {{#if system.GEAR.Equpment.eq14.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq14" data-id="eq14">
          <div><div class="box"></div></div>
          {{localize 'GEAR.AMMO.name'}}
        </label>
        <p>{{localize 'GEAR.AMMO.desc'}}</p>
    </div>
    <div>
        <div>
            <input id="{{actor._id}}_eq15" type="checkbox" name="eq15" {{#if system.GEAR.Equpment.eq15.isUse}}checked{{/if}}/>
            <label for="{{actor._id}}_eq15" data-id="eq15">
              <div><div class="box"></div></div>
            {{localize 'GEAR.SURVIVAL.name'}}
            </label>
            <div class="stack" data-type="eq15" style="--max: {{system.GEAR.Equpment.eq15.max}};--stack: {{system.GEAR.Equpment.eq15.stack}}">
              {{#if system.GEAR.Equpment.eq15.stack}}{{system.GEAR.Equpment.eq15.stack}}{{else}}0{{/if}}
              /{{system.GEAR.Equpment.eq15.max}}
            </div>
        </div>
        <p>{{localize 'GEAR.SURVIVAL.desc'}}</p>
    </div>
    <div>
        <div>
            <input id="{{actor._id}}_eq16" type="checkbox" name="eq16" {{#if system.GEAR.Equpment.eq16.isUse}}checked{{/if}}/>
            <label for="{{actor._id}}_eq16" data-id="eq16">
              <div><div class="box"></div></div>
              {{localize 'GEAR.GRENADES.name'}}
            </label>
            <div class="stack" data-type="eq16" style="--max: {{system.GEAR.Equpment.eq16.max}};--stack: {{system.GEAR.Equpment.eq16.stack}}">
              {{#if system.GEAR.Equpment.eq16.stack}}{{system.GEAR.Equpment.eq16.stack}}{{else}}0{{/if}}
              /{{system.GEAR.Equpment.eq16.max}}
            </div>
        </div>
        <p>{{localize 'GEAR.GRENADES.desc'}}</p>
    </div>
    <div>
        <input id="{{actor._id}}_eq17" type="checkbox" name="eq17" {{#if system.GEAR.Equpment.eq17.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq17" data-id="eq17">
          <div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
          {{localize 'GEAR.DEMOLITION'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq18" type="checkbox" name="eq18" {{#if system.GEAR.Equpment.eq18.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq18" data-id="eq18">
          <div><div class="box"></div></div>
          {{localize 'GEAR.MICROTRONICS'}}
        </label>
    </div>
    <div>
        <input id="{{actor._id}}_eq20" type="checkbox" name="eq20" {{#if system.GEAR.Equpment.eq20.isUse}}checked{{/if}}/>
        <label for="{{actor._id}}_eq20" data-id="eq20">
          <div><div class="box"></div></div>
          {{localize 'GEAR.SPARTS'}}
        </label>
    </div>
    <div>
        <div class="stack" data-type="eq21" style="--max: 4;--stack: {{system.GEAR.Equpment.eq21.stack}}">
          {{#if system.GEAR.Equpment.eq21.stack}}{{system.GEAR.Equpment.eq21.stack}}{{else}}0{{/if}}/4
        </div>
        <label>{{localize 'GEAR.EXTRA'}}</label>
    </div>
  </section>
  <section class="harm">
    <div class="label">{{localize 'HARM.name'}}</div>
    <div class="armors">
      <div>
        <input name="system.armors.armor" type="checkbox" id="{{actor._id}}_armor" {{#if system.armors.armor }}checked{{/if}}/>
        <label for="{{actor._id}}_armor">{{localize 'GEAR.ARMOR'}}</label>
      </div>
      <div>
        <input name="system.armors.heavy" type="checkbox" id="{{actor._id}}_heavy" {{#if system.armors.heavy }}checked{{/if}}/>
        <label for="{{actor._id}}_heavy">{{localize 'GEAR.AHEAVY'}}</label>
      </div>
      <div>
        <input name="system.armors.SR" type="checkbox" id="{{actor._id}}_SR" {{#if system.armors.SR }}checked{{/if}}/>
        <label for="{{actor._id}}_SR">{{localize 'RUNNER.SR'}}</label>
      </div>
    </div>
    <ol start="1">
        <li data-type="efect"`>
            <input type="text" value="{{system.HARM.light.name}}" name="system.HARM.light.name" />
            <div class="track" data-type="light" style="--max: 2;--value: {{system.HARM.light.value}};">2</div>
            <span>{{localize 'HARM.level_1'}}</span>
        </li>
        <li data-type="dice">
            <input type="text" value="{{system.HARM.medium.name}}" name="system.HARM.medium.name" />
            <div class="track" data-type="medium" style="--max: 2;--value: {{system.HARM.medium.value}};">2</div>
            <span><i class='fa-solid fa-square-minus'></i></span>

        </li>
        <li data-type="out">
            <input type="text" value="{{system.HARM.hard.name}}" name="system.HARM.hard.name" />
            <div class="track" data-type="hard" style="--max: 1;--value: {{system.HARM.hard.value}};">1</div>
            <span>{{localize 'HARM.level_3'}}</span>

        </li>
        <li data-type="die">{{localize 'HARM.level_4'}}</li>
    </ol>
  </section>
</form>